.header1 {font-size: 40px;
     background-color:lightblue;}
.lorem
{
     font-size:20px;
text-align:center;
}

.ulist { font-size: 20px;
     list-style:none;} 

footer 
{
font-size: 15px;
display:flex;
justify-content: center;
font-size: 10px;
}

li {list-style:none;}
body 
{background-color:white;}
.navlist 
{background-color:rgb(16, 195, 240) ;
    display:flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
}
.Header {font-size:30px;
     
}
.Coventry { display: flex;
     flex-flow: row wrap;
}
#CoventryText {
     flex-flow: row wrap;
      justify-content: flex-end;
      order: 1;
     }

    /* @media screen and (min-width:800px) {

          font-size: 20px;
     } */
