input[type="radio"] {
  display: flex;
  justify-content: space-around;
}
label {
  display: flex;
  justify-content: left;
}
fieldset {
  display: flex;
  justify-content: space-evenly;
}
button {
  margin-top: 1.5rem;
}

.question {
  margin-top: 1.5rem;
}

.invisible {
  display: none;
}
